<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Bienvenue sur le site ! Connectez-vous :</h1>
<!-- exemple de récupération d'info depuis le controller -->
<h1 th:text="'nombre d\'utilisateurs en bdd : ' + ${userNumber} "></h1>
<form method="post" action="/connect">
	<label>User</label>
	<input type="text" name="username">
	<label>Password</label>
	<input type="password" name="password">
	<input type="submit">
</form>
<a href="/register" >S'inscrire</a>

</body>
</html>